header h1 {
    color: var(--text-color);
}

@media(max-width: 1275px) {
    header .icon-link i {
        color: var(--text-color);
    }

    header .icon-link:hover i {
        color: var(--background-color);
    }

    header .icon-link::before {
        background-color: var(--primary-color);
    }
    .labelNav #btn {
        color: var(--text-color);
    }

    header h1 {
        font-size: 16px;
        font-weight: 500;
        color: var(--text-color);
    }
}

.portfolio {
    margin: 0;
}

.portfolio .title {
    margin: 20px auto;
}